@media (min-width: 768px){
    .changing-text
    {
        margin-top: 12rem;
    }
    .mainimage
    {
        margin-top: 1rem;
    }
   
}
@media (min-width: 460px){
  
    .pareap {
        margin-top: 5rem
    }
   
}

@media (max-width: 998px){
    .secoundimage
    {
        display: none;
    }
}
@media (max-width: 362px){
  
    .mainimage p 
    {
        position: relative;
        top: 4rem;
    }
   
}